button {
  margin: 0.25rem 0;
}

form {
  margin: 0.25rem 0;
}

input {
  width: 15rem;
}

select {
  width: 20rem;
}

img {
  width: 5rem;
}

.list-group {
  margin-top: 2.5rem;
  display: flex;
  justify-items: center;
}

.list-group-item {
  width: 30rem;
}
