<ng-container *ngIf="card$ | async as card">
  <div class="container">
    <div class="list-group">
      <div>
        <h4>{{ card.name }}</h4>
        <ul>
          <li>
            {{ card.set }}
          </li>
          <li>
            {{ card.playerClass }}
          </li>
          <li>
            {{ card.type }}
          </li>
          <li>
            {{ card.text }}
          </li>
        </ul>
        <img *ngIf="card.imgGold" src="{{ card.imgGold }}" />
      </div>
    </div>
  </div>
</ng-container>
